body, html {
  text-align: center;
  height: 100%;
  margin: 0;
}
#cover{
  background-image: url('lotus_bg01.jpg');
  height:100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#title{
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  color: black;
}
#card{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  width: 75%;
  background-color: rgba(89, 51, 76, 0.5);
  box-shadow: 5px 5px 10px #000000;
}
#card:hover{
background-color: #594452;
box-shadow: 15px 15px 15px #000000;
}
#cardtitle{

}
#hori-rule{
  border-top: 3px;
  width: 15vw;
  border-style: solid;
}
#card-h-rule{
  border-top: 5px;
  border-radius: 10px;
  width: 15vw;
  border-style: solid;
}
@media only screen and (max-width: 800px) {
  #card {
    width: 100%;
  }
}
