body, html {
  text-align: center;
  height: 100%;
  margin: 0;
}
.jarallax{
   height: 100%;
   background-image: url('Lotus_bg01.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
