* {

}
body, html {
  text-align: center;
  height: 100%;
  margin: 0;
}
#header{
  height: 100%;

}
.hero-image{
  background-image: url("Lotus_HeroImage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#navbar{
  overflow: hidden;
  background-color: #59334C;
  height: 14%;
  width: 100%;
  position: fixed;
}
#navbar #logo{
  float: left;
  position:relative;
  max-width: 100%;
  height: auto;
  overflow: visible;
  margin-left: 5%;
}
#navbar #Contact{
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  height: 50%;
}
#navbar #menu{
  margin-top: 2.5%;
  margin-right: 15%;
  height: 50%;
  float: right;
  display: block;
}
#navbar a{
  font-family: 'BioRhyme', serif;
  font-size: 0.7em;
  padding: 0.5vw;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
#navbar a:hover{
  color: #FFED90;
  background-color: #A66F9A;
  text-decoration: none;
}
.hero-text{
  text-align: center;
  font-family: 'Eczar', serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.0em;
  position: absolute;
  top: 58%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: white;
}
#AboutUs{
  display: block;
  width: 25%;
  margin: auto;
  margin-top: 3%;
  font-family: 'BioRhyme', serif;
}
#AboutUs h3{
  color: #59334C;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5em;
}
#AboutUs hr{
  border: 0.1em solid #A66F9A;
  border-radius: 5px;
 }
